.form_body {
  position: relative;
}
.form_body div.emailDiv {
  position: absolute;
  top: 110px;
  color: red;
  text-align: left;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding-bottom: 10px;
}
.form_body div.passDiv {
  position: absolute;
  top: 178px;
  color: red;
  text-align: left;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding-bottom: 10px;
}
.form_body input {
  width: 300px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 25px;
}

.reCaptcha {
  width: 100%;
  margin-bottom: 20px;
}
